div
  a(href="#")
    p
      span.bg
      span.base
      span.text Play Valorant
  a.white(href="#")
    p
      span.bg
      span.base
      span.text Play Valorant
  a.transparent(href="#")
    p
      span.bg
      span.base
      span.text Play Valorant